body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "futura";
  text-align: center;
  background-color: #8484cb;

}

h1 {
  color: #0e2634;
  font-family:sans-serif;
  font-weight: lighter;
  letter-spacing: 2px;
  font-style: bold;
  font-size: 40px;
  margin-bottom: 0px;

}

button {
  background-color: #e7eff3;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;

}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}
.input {
  margin-top: 10px;
}
.addOption {
  margin-top: 10px;
}
