button {
  background-color: green;
}
h1 {
  color: blue;
  text-align: center;
  font-style: bold;
  font-size: 52px;
}
input {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: pink;
  font-size: 26px;
  margin-top: 52px;
  margin: 52px;
  margin-bottom: 52px;
}
body {
  background-position: center;
  text-align: center;
  background-color: white;
}
