body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "futura";
  margin-top: 150px;
  background-color: #8484cb;
}

h1 {
  color: #0e2634;
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 40px;
  margin-bottom: 0px;
  font-family: sans-serif;
  font-style: bold;
}

button {
  background-color: #e7eff3;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}
