button {
  background-color: green;
}
h1 {
  color: blue;
  text-align: center;
  font-style: bold;
  font-size: 52px;
}
input {
  color: pink;
  margin-top: auto;
  margin-bottom: auto;
}
body {
  background-position: center;
  text-align: center;
  background-color: white;
}
